<html>
	<head>
		<title>Rango</title>
        <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../style.css" rel="stylesheet">
    </head>
	<body>
		<div class="container-wrapper">
			{% if user.is_authenticated %}
				<h1>Stefan's Site Welcomes You... hello {{ user.username }}!</h1>
				<a href="/login/restricted/">Restricted Page</a><br />
				<a href="/login/user_logout/">Logout</a><br />
				<a href="/controlProjects/">Control a Project</a><br />
			{% else %}
				<h1>Rango says... hello world!</h1>
				<a href="/login/register/">Register Here</a><br />
				<a href="/login/theLogin/">Login</a><br />
			{% endif %}
		</div>
	</body>
</html>
