<html>
   <head>
      <title>Stefan Hall</title>
      <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="../style.css" rel="stylesheet">
   </head>
   	<body>
         <div class="container-wrapper">
            <h1>Welcome to Stefan Hall's Site</h1>
         	<h3>Proceed to Goal Light Site to Login and Control the Goal Light</h3>
         	<a href="login/register/">Register Here</a><br />
         	<a href="login/theLogin/">Login</a><br />
         	<a href="login/">See Registration Page</a>
         	
         	<h3>Look Below for the Blog</h3>
         	<a href="blog/"> Go to Blog</a>
         	<a href="login/user_logout/">Logout</a>
         </div>
   </body>
</html>
