<!DOCTYPE html>
<!--<html>
	<body>
		<p><button type="button"><h1>Light and Siren</h1></button></p>
		
		<button type="button"><h1>Just Light</h1></button>
		<br />
		<br />
	</body>
</html>-->

<html>
    <head>
        <title>Light Control Page</title>
        <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../style.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <form class="form-signin" role="form" id="goal_light_form" method="post" action="/controlProjects/GoalLight/">
            <h2 class="form-signin-heading">Add a Category</h1>

                {% csrf_token %}
    <!--           {% for hidden in form.hidden_fields %}
                   {{ hidden }} 
                {% endfor %}
    -->
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text}}
                    {{ field }}
                	<br>
                {% endfor %}

                <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">Push Command</button>
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" onClick="history.go(-1);return true;">Back</button>
            </form>
        </div>
    </body>

</html>
