<html>
   <head>
      <title>Control a Project</title>
      <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="../style.css" rel="stylesheet">
   </head>
	<body>
      <div class="container-wrapper">
         <h1>Choose What You Want to Control</h1>
         Note: Only items you have can work.
   		<br>
   		List the projects 
   		<br>
		   <a href="/controlProjects/GoalLight/">Control the Goal Light</a><br>
		   <a href="/controlProjects/goalLightRaw/">Raw Data for light</a>
      </div>
	</body>
</html>
